.home h1 {
  font-size: xxx-large;
  font-weight: 800 !important;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: var(--accent-red);
  z-index: -1;
}
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  position: relative;
  margin-top: -100px;
  height: 100dvh;
}

.textSlider {
  text-align: center;
}

.text {
  z-index: 1;
  margin-top: 500px;
}
@media (max-width: 600px) {
  .home h1 {
    font-size: x-large;
  }

  .box {
    width: 200px;
    height: 200px;
  }

  .container {
    margin-top: 0;
  }
}
