:root {
  --background-dark: #2b272f;
  --text-light: #fefffe;
  --accent-red: #004cb8;
  --highlight-red: #007bff;
  --accent-maroon: #003366;
  --secondary-background: #898292;
  --button-hover: #0069d9;
  --cursor-color: #a99e94;
}
body {
  font-family: "Nunito" !important;
  font-weight: 600 !important;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-dark) !important;
  color: var(--text-light) !important;
}
