.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid var(--cursor-color);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none !important;
  z-index: 9999;
  transition: background-color 0.3s ease;
}

.cursor:hover {
  background-color: var(--cursor-hover-effect);
}

@media only screen and (max-width: 767px) {
  .cursor {
    display: none;
  }
}

body {
  cursor: none;
}

button:hover {
  cursor: none !important;
}
