.containerAboutMe {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

.aboutme {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.textAboutMe {
  font-size: 1.3rem;
  text-align: left;
  max-width: 550px;
  margin-bottom: 50px;
  font-weight: 300 !important;
}

.techSection {
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 350px;
}

.techTitle {
  font-size: 1.5rem;
  font-weight: 200 !important;
  margin-bottom: 10px;
  text-align: right;
  margin-right: -60px;
}

.techIcons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 150%;
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
@media (max-width: 600px) {
  .containerAboutMe {
    flex-direction: column;
    align-items: center;
    display: block;
  }

  .textAboutMe,
  .techSection {
    width: 100%;
    margin-right: 0;
  }

  .techIcons {
    justify-content: space-around;
  }

  img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 790px) {
  .aboutme {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .textAboutMe {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .techTitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  img {
    width: 30px;
    height: 30px;
    margin: 3px;
  }
}
