.vertical-navbar {
  background-color: #000000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  gap: 20px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active-scroll div {
  color: var(--secondary-background);
}
.label-nav {
  cursor: none;
  color: var(--highlight-red);
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 15px;
}
.label-nav:hover {
  border-left: 1px solid var(--highlight-red);
  border-right: 1px solid var(--highlight-red);
}
.active {
  color: var(--secondary-background);
  border-bottom: 1px solid var(--highlight-red);
}

.inactive {
  color: var(--highlight-red);
}
@media (max-width: 768px) {
  .vertical-navbar {
    justify-content: left;
  }

  .label-nav {
    padding: 10px;
    font-size: 12px;
  }
}
